body {
    color: lightgrey;
    background-color: rgb(19, 19, 19);
    margin: 0;
}

.inicio-box {
    text-align: left;
    background-color: rgba(18, 46, 83, 0.7);
    padding: 10px;
}

.portfolio-link {
    text-decoration: none;
    color: lightgray;
    padding: 10px;
    margin-left: 5px;
}

.portfolio-link:hover {
    background-color: rgb(5, 62, 167);
}

.nome-box {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 10px;
    background-image: linear-gradient(to left, rgb(0, 54, 134), rgb(0,0,0));
    text-align: center;
    margin: 0%;
}

.menu-opcoes {
    margin: 0%;
    background-color: rgb(41, 89, 126);
}

.menu-opcoes ul {
    margin: 0%;
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

.menu-opcoes ul li {
    display: inline-block;
    padding: 0;
}

.menu-opcoes ul li a {
    color: lightgray;
    text-decoration: none;
    padding: 10px 40px;
}

.menu-opcoes ul li a:hover {
    background-color: rgb(0, 39, 90);
}

.texto {
    text-align: center;
    margin: 0%;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,0%);  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgray;
}

.texto-sobre {
    margin: 0%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgray;
}

.texto-sobre-formacao {
    margin: 0%;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,0%);  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgray;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60%;
}

.img-sobre {
    max-width: 30%;
    max-height: 30%;
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%,0%);
    clip-path: circle();
}

.img-index {
    max-width: 80%;
    max-height: 80%;
}

.img-formacao {
    max-width: 40%;
    max-height: 40%;
    position: absolute;
    top: 47%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,0%);
}

.texto-projetos p {
    text-align: center;
    margin: 0%;
    position: absolute;
    top: 23.8%;
    left: 50%;
    transform: translate(-50%,0%);  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgray;
}

.tab-projetos {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgray;
    width: 30%;
}

.tab-projetos tr {

}