body {
    color: lightgrey;
    background-color: rgb(0, 3, 20);
    height: 100vh;
}
.total {
    max-width: 70%;
    margin: auto;
}

.titulo {
    background-color: rgba(18, 46, 83, 0.7);
}

.titulo-box {
    text-align: left;
}

.portfolio-link {
    text-decoration: none;
    color: lightgray;
}

.nome-box {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%,0%);
    position: relative;
    padding: 10px;
    background-color: rgb(0, 54, 134);
    text-align: center;
}

.menu-opcoes {
    background-color: rgb(82, 102, 117);
    padding: 5px;
    
}

.menu-opcoes ul {
    list-style-type: none;
   
}

.menu-opcoes ul li {
    display: inline;
}

.menu-opcoes ul li a {
    color: lightgray;
    text-decoration: none;
    background-color: rgb(0, 39, 90);
    padding: 10px 40px;
}
.texto {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0%);  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgray;
}
footer {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%,-1%);
}

img {
    max-width: 150%;
    max-height: 150%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,0%);
}